<network>
  <name>default</name>
  <uuid>1b7a49a1-9f70-453c-83de-9c51cb28372c</uuid>
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
  <bridge name='virbr0' stp='on' delay='0'/>
  <mac address='52:54:00:02:52:3d'/>
  <ip address='192.168.122.1' netmask='255.255.255.0'>
    <dhcp>
      <range start='192.168.122.2' end='192.168.122.254'/>
      <host mac='52:54:00:70:65:8d' name='{{ lsw_windows_vm_name }}' ip='{{ lsw_windows_vm_private_ip }}'/>
{% if lsw_install_looking_glass %}
      <host mac='52:54:00:00:24:be' name='{{ lsw_windows_vm_name }}lg' ip='{{ lsw_windows_vmlg_private_ip }}'/>
{% endif %}
    </dhcp>
  </ip>
</network>
