{% if pgs_distro_initramfs_binary != 'dracut' %}
vfio
vfio_iommu_type1
vfio_pci
{% endif %}
{% if pgs_windows_gpu_driver != 'nvidia' %}
softdep drm pre: vfio-pci
{% else %}
softdep nvidia pre: vfio-pci
{% endif %}
options vfio-pci ids={{ _pci_ids.stdout }}
